name: Continuous Integration
on:
  push:
    tags-ignore:
      - 'v*.*.*'
      - 'snapshot-*'
    branches:
      - 'main'
  pull_request:
jobs:
  lint:
    name: "Lint"
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Install dependencies
        run: |
          go mod download

      - name: Install golangci-lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
          golangci-lint --version

      - name: Lint
        run: |
          golangci-lint run --color=always -c .golangci.yml ./...

  test:
    name: "Test"
    permissions:
      contents: write
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Install dependencies
        run: |
          go mod download

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Test
        run: |
          go run ./build test

      - name: Upload generated manuals
        uses: actions/upload-artifact@v5
        with:
          if-no-files-found: error
          name: "manuals-${{ matrix.os }}"
          path: |
            var/manuals/*.html

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          goveralls "-coverprofile=profile.cov" "-service=github" "-parallel" "-flagname=${{ matrix.os }}-caretakerd"

  # notifies that all test jobs are finished.
  finish:
    name: "Finish"
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          check-latest: true

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Send coverage (finish)
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          goveralls "-parallel-finish" "-service=github"
