name: Release
on:
  push:
    tags:
      - 'v*.*.*'
      - 'snapshot-*'
jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Get dependencies
        run: |
          go mod download

      - name: Test
        run: |
          go run ./build test

      - name: Build
        run: |
          go run ./build build

      - name: Upload Artifacts
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: var/dist/*
          generate_release_notes: true
